* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden !important;
  width: 100%;
  max-width: 100vw;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Responsive font sizes */
@media (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

